<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Anime Answers - Exploration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Awesome Anime Answers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tableau">Awesome Anime Exploration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommender">Anime Awesome Recommender</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/presentation">Presentation Deck</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" id="share-btn">Share!</button>
        </div>
    </nav>
    <h1>Awesome Anime Answers Presentation</h1>
    <div>
        <embed class="pdf-viewer" src="static/pdf/Project_4_Group_3_Slide_Deck.pdf" width="100%" height="100%" type="application/pdf">
    </div>
</body>

</html>
